ion-input, ion-row,ion-title{
    --color: #e0e1dd;
    --background: #e0e1dd;
}
.input-fill-solid.sc-ion-input-md-h .input-wrapper.sc-ion-input-md{
    --background: #e0e1dd !important;
}

.posicion{
    padding-top: 1rem;
}
