<ion-content [fullscreen]="true">
  <div class="container-splash">
    <h2 class="alumn tracking-in-expand">&nbsp;&nbsp;&nbsp; Tabla <br>Didáctica</h2>

    <div class="container-logo">
      <!-- <img class="slide-in-top splash background" src="../../../assets/icon/backTabla.png"/> -->
      <img class="slide-in-right splash logo" src="../../../assets/icon/idioma1024.png"/>
    </div>
    <h2 class="text-shadow-drop-center"></h2>
    <h2 class="division tracking-in-expand">Michelle Charotti <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;División 4º <br> &nbsp;</h2>
  </div>
</ion-content>
