.botonera{
    text-align: center;
    margin-top: 10px;
}
.filter{
    --background: #db4f41;
    border: 3px solid #fbd06b;
    margin: 4px 10px;
}
.titulo-principal{
    text-align: center;
    margin-top: 20px;
  }

  .ion-spinner{
    display: flex;
        justify-content: center;
        align-items: center;
  }

  .posicion{
  padding-top: 1.5rem;
//   padding-bottom: 0.2rem;
}

.tamanio{
    height: 6rem;
padding-top: 0.2rem;
}