<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-app">
      <h1 class="tracking-in-contract-bck-top title">Juego</h1>
      <h1 class="tracking-in-contract-bck-top title">de</h1>
      <h1 class="tracking-in-contract-bck-top title">Memoria</h1>
      
    </div>
      <div class="container-img">
        <!-- <img src="../../../assets/icon/backMemoria.png" class="background" alt=""> -->
        <img class="puff-in-center logo" src="../../../assets/icon/memoria1024.png" alt="">
      </div>
    <div class="container-alumn">
      <h3 class="alumn">4°</h3>
      <h2 class="alumn">Michelle Charotti</h2>
    </div>
  </div>
 
</ion-content>